// font
$font-sans: 'Nunito Sans', sans-serif;

// Body Copy
$homepage-items: 1rem;
$detail-page: 1rem;

// Colors

$light-textColor: hsl(200, 15%, 8%);
$light-backgroundColor: hsl(0, 0%, 98%);
$light-inputColor: hsl(0, 0%, 52%);

$dark-textColor: hsl(0, 0%, 100%);
$dark-backgroundColor: hsl(207, 26%, 17%),;
$dark-elementsColor: hsl(209, 23%, 22%);
