@use 'reset';
@use 'fonts';
@use 'vars';
@import 'theme';

html, body {
  @include themify($themes) {
    background: themed('elementsColor');
    color: themed('textColor');
  }
  font-family: vars.$font-sans;
  scroll-behavior: smooth;
}
