@use './../../styles/vars';
@import './../../styles/theme';

.page {
  @include themify($themes) {
    background: themed('backgroundColor');
    color: themed('textColor');
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.76rem 0.76rem;
}