@use './../../styles/vars';
@import './../../styles/theme';


.search-bar {
  @include themify($themes) {
    background: themed('backgroundColor');
    color: themed('textColor');
  }
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  padding: 1rem;
  margin-bottom: 2rem;
}

.search-svg {
  padding: 0 0.85rem;
}

.search-input {
  @include themify($themes) {
    background: themed('backgroundColor');
    color: themed('textColor');
  }
  border: none;
  border-color: transparent;
}