@use './../../styles/vars';
@import './../../styles/theme';

.header {
  @include themify($themes) {
    background: themed('elementsColor');
    color: themed('textColor');
    box-shadow: 1px 12px 15px 0px themed('boxShadowColor');
  }
  font-size: vars.$homepage-items;

  &__theme {
    @include themify($themes) {
      background: themed('elementsColor');
      color: themed('textColor');
    }
    border: none;
    background-color: transparent;
    outline: none;
  }

}