@use './../../styles/vars';
@import './../../styles/theme';

.container__details {
  .container__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 220px;
    img {
      height: 100%;
      width: 100%;
    }
  }
}

.container__top-content {
  display: flex;
  flex-direction: column;
  margin: 2.5rem auto;
}
.content__title {
  font-weight: 800;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.content__element--title {
  font-weight: 600;
  margin: 0.5rem 0;
}

.element--information {
  font-weight: 200;
}

.container__bottom-content {
  display: flex;
  flex-direction: column;
  margin: 2.5rem auto;
}

.border-content__subtitle {
  font-size: 1.15rem;
  font-weight: 600;
  margin: 1rem 0;
}

.border-content__country {
  @include themify($themes) {
    background: themed('elementsColor');
    color: themed('textColor');
  }
  font-size: vars.$detail-page;
  text-align: center;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0.5rem;
  box-shadow: -1px -1px 11px 4px rgba(0, 0, 0, 0.1);
  border: none;
  background-color: vars.$light-backgroundColor;

}
